<aside class="sidebar">
  <div class="sidebar-header">
    <h2 class="logo">ECTI Dashboard</h2>
  </div>

  <nav class="sidebar-nav">
    <ul>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/accueil"><span class="icon">🏠</span><span>Accueil</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/dashboard"><span class="icon">📈</span><span>Dashboard</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/utilisateurs"><span class="icon">🔍</span>Utilisateurs</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/parametre"><span class="icon">⚙️</span><span>Paramètre</span></a>
      <li routerLinkActive="active">
  <a routerLink="/graphs"><span class="icon">📊</span><span>Graphiques</span></a>
</li>



    </ul>
  </nav>

  <div class="sidebar-footer">
    <button class="btn-logout">Déconnexion</button>
  </div>
</aside>
